<!--
  Generated template for the Documentos page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="principal-allianz">
        <ion-title>
            Domicilio
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    

    <div padding>
        <ion-segment [(ngModel)]="selectedSegment" (click)="onSegmentChanged()" >
            <ion-segment-button value="mapaSegment"  >Mapa</ion-segment-button>
            <ion-segment-button value="capturaSegment" >Captura</ion-segment-button>
        </ion-segment>


        
        <!--<div [ngSwitch]="selectedSegment">


            
            <div [style.display]="block">

                <p>rgergergreger</p>
                <div #map2 id="map2" ></div>
                
            </div>   


            <div *ngSwitchCase="'capturaSegment'">
                <ion-item>
                    <ion-label stacked>Código Postal:</ion-label>
                    <ion-input type="text" maxlength="5" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Calle:</ion-label>
                    <ion-input type="text" maxlength="5" ></ion-input>
                </ion-item>
                
            </div> 
        
        </div>-->

        
    </div>

    <div class="cuadroMap" [hidden]=" selectedSegment== 'capturaSegment'">
        <i class="fa fa-search" style="font-size: 1.5rem;MARGIN-LEFT: 9px;
            position: inherit;
            z-index: 999;
            color: #9a9a9a;
            margin-top: auto;
            margin-bottom: auto;
            padding-bottom: 2px;
            padding-top: 6px;" aria-hidden="true"></i>
        <input  style="width: 80% ;margin-left: 0px; padding-left:30px; padding-top:4px;padding-bottom:4px;" type="text" id="autocomplete" placeholder="Ingrese su domicilio"  [(ngModel)]="autocompleteInputValue"  data-tap-disabled="true" (blur)="blurAutocompleteInput(autocompleteInputValue)" class="search-box " >
        <a id="search_clear"  (click)="limpiarAutocomplete()">
            <i class="fa fa-times" style="font-size: 1.5rem;padding-top:7px;" aria-hidden="true"></i>
        </a>

    </div>

    <!--<input type="text" id="autocomplete" placeholder="Ingrese su domicilio" [hidden]=" selectedSegment== 'capturaSegment'" [(ngModel)]="autocompleteInputValue" >-->
    <div #map id="map" [hidden]=" selectedSegment== 'capturaSegment'"></div>

    <div [hidden]=" selectedSegment== 'mapaSegment'">
        <form #f="ngForm" novalidate>
        <ion-item>
            <ion-label stacked>Código Postal *</ion-label>
            <ion-input required type="text" maxlength="5" name="postal_code" [(ngModel)]="domicilioObj.postal_code" (keyup)="onKeyPress($event)" maxlength="5"  ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Estado *</ion-label>
            <ion-select required name="codigoEstado" [(ngModel)]="codigoEstado" (ngModelChange)="changeEstado()" >
            <ion-option *ngFor="let estado of estados" value="{{estado.codigoEstado}}" >{{estado.descripcion}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>Delegación o Municipio *</ion-label>
            <ion-select required name="codigoMunicipio" [(ngModel)]="codigoMunicipio" (ngModelChange)="changeDelegacionMunicipio()" >
                <ion-option *ngFor="let municipio of municipiosCiudades" value="{{municipio.codigoMunicipio}}">{{municipio.municipio}}</ion-option>
            </ion-select>
        </ion-item>

       <ion-item>
        <ion-label stacked>Ciudad *</ion-label>
          <ion-select required name="codigoCiudad" [(ngModel)]="codigoCiudad" (ngModelChange)="changeCiudad()" >
            <ion-option *ngFor="let ciudad of ciudades" value="{{ciudad.ciudad}}">{{ciudad.ciudad}}</ion-option>
          </ion-select>
      </ion-item>

       <ion-item>
        <ion-label stacked>Colonia *</ion-label>
        <ion-select required name="codigoAsentamiento" [(ngModel)]="codigoAsentamiento" (ngModelChange)="changeColonia()" >
          <ion-option *ngFor="let asentamiento of asentamientos" value="{{asentamiento.idAsentamientoCP}}">{{asentamiento.asentamiento}}</ion-option>
        </ion-select>
      </ion-item>

        <ion-item>
            <ion-label stacked>Calle *</ion-label>
            <ion-input required name="route" type="text" [(ngModel)]="domicilioObj.route" (keyup)="blurNombreCalle()" ></ion-input>
        </ion-item>

      <ion-item>
            <ion-label stacked>Número Exterior *</ion-label>
            <ion-input required name="street_number" type="text" [(ngModel)]="domicilioObj.street_number" (keyup)="blurNumeroCalle()" ></ion-input>
        </ion-item>

       <ion-item>
            <ion-label stacked>Número Interior</ion-label>
            <ion-input name="num_int" type="text" [(ngModel)]="domicilioObj.num_int" (keyup)="blurNumeroInterior()" ></ion-input>
        </ion-item> 
        </form>
    </div> 

    <br/> <br/> <br/>

    <ion-fab right bottom [hidden]=" selectedSegment== 'mapaSegment'">
        <button color="accent-allianz" ion-fab (click)="siguientePagina()" [disabled]="!f.valid">
                <ion-icon name="md-arrow-forward"></ion-icon>
            </button>
    </ion-fab>
    
</ion-content>
<ion-footer >
        
</ion-footer>