page-domicilio{
    
        .scroll {
                height: 100%
              }
    
        #map {
                width:100%;
                height:500px;
              }
    
              
    
              a, .search-box,.close-icon,.search-wrapper {
        position: relative;
        padding: 10px;
    }
    
    
        .controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            
          }
        .cuadroMap{
          width: 100%;position: absolute;z-index: 99;
          margin: 2% 0 0;
          left: 0; 
          right: 0; 
          margin-left: auto; 
          margin-right: auto; text-align: center;
        }
          #autocomplete {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 300px;
          }
    
          #autocomplete:focus {
            border-color: #4d90fe;
          }
    
          .pac-container {
            font-family: Roboto;
          }
    
          #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
          }
    
          #type-selector label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
          }
          #target {
            width: 345px;
          }
    
          #search_clear {
              background: transparent;
              border: none;
              font-family: 'FontAwesome';
              font-size: 1.3em;
              color: #9a9a9a;
              opacity: 0.4;
              outline: none;
              pointer-events: auto;
              position: inherit;
              margin-left: -20px;
              padding: 0;
              z-index: 999;
          }
    
    
    
    
    
          @media only screen 
            and (min-device-width : 768px) 
            and (max-device-width : 1024px)  { 
              #map {
                  width:100%;
                  height:600px;
                }
        
    
          }
    
    }
    