<ion-tabs tabsPlacement="top" selectedIndex="0" color="principal-allianz">
    <ion-tab [root]="tabMapaRoot" tabTitle="Mapa" tabIcon="map" (ionSelect)="mapaPageSelected()"></ion-tab>
    <ion-tab [root]="tabCapturaRoot" tabTitle="Captura" tabIcon="list" (ionSelect)="capturaPageSelected()"></ion-tab>
</ion-tabs>
