<!--
  Generated template for the Mapa page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="principal-allianz">

  <ion-navbar color="principal-allianz" >
    <ion-title>Domicilio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<!--<div class="cuadroMap">
<input  style="width: 80% ;margin-left: 0px; padding-left:30px;" type="text" id="autocomplete" placeholder="Ingrese su domicilio"  [(ngModel)]="autocompleteInputValue" clearInput data-tap-disabled="true" (blur)="blurAutocompleteInput(autocompleteInputValue)" class="search-box ">
</div>-->


<div class="cuadroMap">
  <i class="fa fa-search" style="font-size: 1.5rem;MARGIN-LEFT: 9px;
    position: inherit;
    z-index: 999;
    color: #9a9a9a;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 2px;
    padding-top: 6px;" aria-hidden="true"></i>
<input  style="width: 80% ;margin-left: 0px; padding-left:30px; padding-top:4px;padding-bottom:4px;" type="text" id="autocomplete" placeholder="Ingrese su domicilio"  [(ngModel)]="autocompleteInputValue"  data-tap-disabled="true" (blur)="blurAutocompleteInput(autocompleteInputValue)" class="search-box " >
<a id="search_clear"  (click)="clearSearch()">
    <i class="fa fa-times" style="font-size: 1.5rem;padding-top:7px;" aria-hidden="true"></i>
</a>

</div>

 
<!--  <ion-item>
      <ion-label ><ion-icon name="search"></ion-icon></ion-label>
      <ion-input type="text" id="autocomplete" style="float: left;" placeholder="Ingrese su domicilio" clearInput data-tap-disabled="true"></ion-input >
    </ion-item>-->
  

  <div #map id="map" ></div> 

</ion-content>

